<section id="intro" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <h1>{{title}}</h1>
    <p>Walexkino Dev. Automation Ltd. (also known as walexkino cloud Arena) is an open source automation project using Azure DevOps for its CI/CD build and release.</p>
    <p>This is version 1.3.0 of this web application. </p>
    <ul class="actions">
      <li><a href="/who" class="button scrolly">Learn more !</a></li>
    </ul>
  </div>
</section>
